* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
}

body {
    height: 100vh;
    display: flex;
    background-color: rgb(55, 167, 167);
    justify-content: center;
    align-items: center;
}

#image {
    display: flex;
}

#inicio {
  width: 350px;
  height: 200px;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.p {
    margin: 30px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#memory-game {
    height: 640px;
    width: 640px;
    margin: auto;
    display: none;
    flex-wrap: wrap;
    perspective: 500px;
}


.card {
    height: calc(33.333% - 10px);
    width: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /*não deixa o elemento achatado*/
    transition: transform .9s;
    
}

.card:active {
   transform: scale(0.97);
   transition: transform .2s;
}

.frontCard,
.backCard {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ffffff;
    backface-visibility: hidden; /*retira o verso do elemento*/
}

.frontCard {
    transform: rotateY(180deg); 
}

/*flip card animation*/

.card.flip {
    transform: rotateY(180deg);
}

.animation {
    animation: wrong 100ms ease-in infinite alternate;
}

@keyframes wrong {
    from {
        border: 3px solid white;
 } to {
      border: 3px solid red;
}
}

.animation2 {
    border: 3px solid green;
}
